*{
    box-sizing: border-box;
}

@import url("normalise.css") ;

html {
    "font-family: -apple-system, BlinkMacSystemFont, "
  }

  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

h1 {--dark: #020202;
}


